body{
  font-family: Arial;
  margin: 0px;
  padding: 0px;
}

h1{
  font-size: 35px;
  text-transform: uppercase;
  color:gray;
}

h2{
  font-size: 25px;
  text-transform: uppercase;
  color:#669988;
  text-align: center;
}

h3{
  color: #F48120;
}

h4{
  font-size: 20px;
  text-transform: uppercase;
}

p{
  font-size: 16px;
}

a{
  text-decoration: none;
  cursor: pointer;
  color: #1A4788;
}

a:hover{
  color: red;
}


#heading-container{
  margin: 0px auto;
  width: 500px;
  text-align: center;
}

#blog-links-container{
  text-align: left;
  padding: 150px 0px 0px 30px;
}

#left-panel{
  width: 30%;
  height: 100vh;
  background-image: url( ../assets/images/plane.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  float: left;
  padding: 0px;
  margin: 0px;
}

#right-panel{
  width: 70%;
  height: 100vh;
  background-image: url( ../assets/images/seaside.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  float: left;
  padding: 0px;
  margin: 0px;
}


.back-button{
  text-align: center;
  text-transform: uppercase;
}

.back-button-container{
    width: 100px;
    margin: 0px auto;
}


.blog-link{
  line-height: 27px;
}

.blog-post-container{
  width: 100%;
  max-width: 1500px;
  margin: 0px auto;
}
