/* GENERAL STYLING */




p{
  padding: 0px !important;
  margin: 0px !important;
  letter-spacing: .05em!important;
}

h3{
  letter-spacing: .05em!important;
}

a{
  text-decoration: none;
  color: inherit;
}

a[href^="mailto"]{
  color: inherit;
}

a:visited{
  color: inherit;
}


/* CLASS STYLING */

.bold{
  font-weight: bold;
}

.blog-contents{
  padding: 0em 1.5em 3em 1.5em;
  margin-bottom: 2em;
}

.blog-date{
  font-style: italic;
}

.blog-header{
  height: 3.5em;
  color: white;
  background-color: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00b7ea+0,009ec3+100;Blue+3D+%2315 */
  background: rgb(0,183,234); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(0,183,234,1) 0%, rgba(0,158,195,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.blog-header a{
  color: white;
}

.blog-title{
  font-size: 1.5em;
  color: #FF2AB0;
  text-align: center;
  margin: 1.5em 0em 1em 0em;
}

.desktop-navigation-container{
  display: none;
}

.desktop-navigation-container ul{
  list-style: none;
  display: flex;
  margin-right: 5em;
  padding-top: .8em;
}

.desktop-navigation-container li{
  padding: 0px 0.8em;
  font-size: 1.2em;
}

.desktop-navigation-container a:hover{
  color: #FF2AB0;
}

.hero-button{
  background-color: #FF2AB0!important;
  color: white!important;
  border: 0px!important;
  margin: 1em;
  width: 12em;
  font-size: .8em!important;
  letter-spacing: .2em!important;
}

.hero-button:hover{
  background-color: #00FF00!important;
  color: #FF2AB0!important;
}

.fa-icon{
  color:#FF2AB0;
  font-size: 2.5em!important;
  padding: .5em;
}

.fa-icon:hover{
  color: #00FF00;
}

.go-back{
  margin: 1em auto;
}

.site-header-container{
  display: flex;
}

.name-container{
  font-size: 2em;
  letter-spacing: .08em;
  text-align: center;
  width: 100%;
}

.name-container a:hover{
  color: inherit;
}

.page-title{
  color:#FF2AB0;
  text-align: center;
  font-weight: bold;
  padding: 2em 0em 1em 0em;
}

.section-container{
  max-width: 1000px;
  margin: 0px auto;
}




/* ID stylings */

#about-section-container{
  margin: 3em auto;
}

#about-text-container{
  text-align: center;
  letter-spacing: .05em;
  padding: 2em 1.5em 2em 1.5em;
}

#back-button-container{
  margin: 0px auto;
  display: flex;
  margin-top: 2em;
}

#blog-post-list{
  font-size: 1.2em;
}

#blog-post-list li{
  list-style: none;
  margin-bottom: 1.5em;
}

#blog-post-list a:hover{
  color:#FF2AB0;
}

#blog-post-list .blog-date{
  color:#FF2AB0;
  font-weight: bold;
}



#contact-container{
  text-align: center;
}

#contact-section-container{
  text-align: center;
  color: white;
  letter-spacing: .05em;
  padding: 3em 0em 3em 0em;
  margin: 0px auto;
}

#contact-section-wrapper{
  width: 100%;
  background-color: #2D2929;
}

#homepage-header{
  background-color: none!important;
}

#homepage-name{
  color: white;
}

#homepage-nav{
    color: white;
}

#into-text{
  color: white;
  letter-spacing: .05em;
  text-align: center;
  padding: 0em 1em 0.5em 1em;
}

#made-by{
  font-size: 0.8em;
}

#me-image{
  width: 80%;
  max-width: 20em;
  height: auto;
  display:block;
  margin:auto;
}

#welcome-button-container{
  margin-top: 1.5em;
  text-align: center;
}

#welcome-section-container{
    margin: 0em auto;
    padding: 1.5em 0em;
}


#welcome-text{
  color: #FF2AB0;
  text-align: center;
  font-size: 4.5em;
  letter-spacing: .08em;
}

#welcome-hr{
  border: 1px solid #00FF00;
  width: 70%;
  max-width: 280px;
  margin-top: 0px;
}

#welcome-wrapper{
  background-image: url(../assets/images/Hero-Image-edited.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 35em;
  position: relative;
}

/* MEDIA QUERIES */

@media screen and (min-width: 550px){
  .six.columns {
    width: 100%!important;
    margin: 0px;
  }

  #about-text-container{
    padding: 0em 3em 2em 3em;
  }
}

@media screen and (min-width: 750px){
  .six.columns {
    width: 48%!important;
    padding-top: 13%;
  }

  #about-text-container{
    text-align: left;
    padding: 0em 0em 2em 1.5em;
  }

  #into-text{
    font-size: 1.15em;
  }

  #me-image{
    width: 80%;
    max-width: 30em;
  }

  #welcome-text{
    font-size: 5em;
  }


}

@media screen and (min-width: 800px){

  .blog-title{
    font-size: 2.5em;
  }

  .desktop-navigation-container{
    display: block;
  }

  .desktop-navigation-container ul{
    margin-right: 2em;
  }

  .name-container{
    text-align: left;
    margin-left: 2em;
  }

  .six.columns {
    padding-top: 5%
  }

  #me-image{
    padding-top: 3em
  }

  #welcome-wrapper{
    height: 45em;
  }

}

@media screen and (min-width: 986px){
  .six.columns {
    width: 48%!important;
    padding-top: 0%;
  }

  .name-container{
    margin-left: 3em;
  }

  .desktop-navigation-container ul{
    margin-right: 3em;
  }

}
