/* GENERAL STYLING */

h1{
  color: #FF2AB0;
}





/* CLASS STYLING */

.hamburger-button{
  border: 1px solid green;
  width: 12%;
  font-size: 1.8em;
  text-align: center;
}

.name-container{
  width: 88%;
  text-align: center;
  font-size: 1.8em;
  border: 1px solid blue;
  margin-right: 12%;
}

.site-header-wrapper{
  border: 1px solid red;
  display: flex;
}

.welcome-button{
  background-color: #FF2AB0!important;
  color: white!important;
  text-align: center;
}


/* ID stylings */

#hero-container{
  background-image: url(../images/Hero-Image-edited.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30em;
  border: 1px solid green;
}

#welcome-container{
  text-align: center;
  border: 1px solid yellow;
  width: 100%;
  max-width: 30em;
  margin: 0px auto;
}

#welcome-container p{
  color: white;
  margin: 0px;
}

#welcome-hr{
  width:80%;
  max-width: 300px;
}



/* MEDIA QUERIES */

@media screen and (min-width: 750px){

}
